        a {
            color: black;
        }
        
        a:hover {
            cursor: pointer;
        }
        
        .contentTd .content_span {
            white-space: nowrap;
            display: inline-block;
            width: 400px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        .badge {
            background: #b7d7e8;
        }
        
        .typeSelector,
        .orderSelector {
            width: 100px;
            height: 35px;
        }
        
        #profile{
            display: none;
        }
        #profileArea:hover{
            cursor: pointer;
        }
        #img_name{
         font-size: 15px;   
        }
        .write_btn{
        	font-size:18px;
        	width:100px;
        }