<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.dreamgo.mapper.AdminMapper">

	<!-- 글 수정 -->
	<update id="admin_modifyArticle" parameterType="BoardVO">
		update board 
		set type=#{type}
		where bno=#{bno}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="admin_removeArticle" parameterType="int">
		update board
		set content="removed"
		where bno=#{bno}
	</delete>
	
	<!-- 선택한 글 삭제 -->
	<delete id="admin_removeCheck" parameterType="java.util.List">
		delete 
		from board 
		where bno IN
		<foreach collection="list" item="bno" open="(" separator="," close=")" >
			#{bno.value}
		</foreach>
	</delete>
	
	
	<!-- 회원 리스트 -->
	<select id="userList" resultType="UserVO">
		select *
		from user
		where no>0
		order by regdate desc
	</select>
	
	<!-- 회원 권한 수정 -->
	<update id="modifyAuth" parameterType="UserVO">
		update user
		set auth = #{auth}
		where no = #{no}
	</update>
	
	<!-- 회원 영구탈퇴 -->
	<delete id="removeUser" parameterType="int">
		delete from user
		where no=#{no}
	</delete>
	
	<!-- 블랙리스트 추가 -->
	<insert id="addBlackList" parameterType="String">
		insert into blackList(email)
		values(#{email})
	</insert>
	
	
	<!-- 신고하기 -->
	<insert id="insertReport" parameterType="ReportVO">
		insert into report(reporter,reportedBno,reportedWriter,reportedTitle,cause)
		values(#{reporter},#{reportedBno},#{reportedWriter},#{reportedTitle},#{cause})
	</insert>
	
	<!-- 신고목록 -->
	<select id="reportList" resultType="ReportVO">
		select *
		from report
		where no>0
	</select>
  </mapper>