<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.dreamgo.mapper.ReplyMapper">
	<!-- ***************** 댓글 관련 ******************* -->

	<!-- 댓글 작성 -->
	<insert id="insertReplyMain" parameterType="ReplyMainVO">
		insert into reply_main(content,userNo,articleNo)
		values(#{content},#{userNo},#{articleNo})
	</insert>
	
	<!-- 댓글 목록 -->
	<select id="listReplyMain" parameterType="int" resultType="ReplyMainVO">
		select rno,content,userno,articleNo,rm.regdate,u.nickname,u.profile
		from reply_main rm, user u
		where rm.userNo = u.no and articleNo=#{articleNo}
	</select>
	
	
	<!-- 댓글 삭제 -->
	<delete id="removeReply" parameterType="int">
		delete
		from reply_main
		where rno=#{rno}
	</delete>
	
	<!-- 댓글 수정 -->
	<update id="modifyMainReply" parameterType="ReplyMainVO">
		update reply_main
		set content=#{content}
		where rno=#{rno}
	</update>
	
	
	<!-- ***************** 답글 관련 ******************* -->
	
	
	<!-- 답글 작성 -->
	<insert id="insertReplySub" parameterType="ReplySubVO">
		insert into reply_sub(content,userNo,mainNo,articleNo)
		values(#{content},#{userNo},#{mainNo},#{articleNo})
	</insert>
	
	<!-- 답글 목록 -->
	<select id="listReplySub" parameterType="int" resultType="ReplySubVO">
		SELECT sno,content,userNo,mainNo,articleNo,rs.regdate,u.nickname,u.profile
		FROM reply_sub rs, user u
		WHERE articleNo=#{articleNo} AND rs.userNo = u.no
	</select>
	
	<!-- 답글 수정 -->
	<update id="modifySubReply" parameterType="ReplySubVO">
		update reply_sub
		set content=#{content}
		where sno=#{sno}
	</update>
	
	<!-- 답글 삭제 -->
	<delete id="removeSub" parameterType="int">
		delete
		from reply_sub
		where sno=#{sno}
	</delete>
  </mapper>