<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<!-- 
  	
  		resultType이나 parameterType을 패키지명까지 포함시켜서 사용해야하기 때문에
  	 	아래처럼 설정해주면 클래스명만 적으면 된다.
  	 -->
  	<typeAliases>
  	<package name="com.dreamgo.domain"/>
  	</typeAliases>
  
  </configuration>